<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="home/style.css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <h2 class="logo">yourBlog</h2>
            <ul class="list">
                <li><a href="/home">Home</a></li>
                <li><a href="/users/new">Sign up</a></li>
                <li><a href="/login">Log in</a></li>


            </ul>
        </nav>
    </header>
    <!-- Home Page -->
    <section class="center">
        <h1 class="light">Welcome to your favorite <span class="block">Blog site..</span> </h1>
        <p class="text">Imagine. Create. Learn.</p>
    </section>

</body>

</html>