<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/signup.css" rel="stylesheet">
    <title>New</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <h2 class="logo">yourBlog</h2>
            <ul class="list">
                <li><a href="/home">Home</a></li>
                <li><a href="/users/new">Sign up</a></li>
                <li><a href="/login">Log in</a></li>


            </ul>
        </nav>
    </header>
    <section class="trans">
        <form action="/users" method="POST" class="form">
            <div class="field">
                <input type="text" name="firstname" placeholder="First Name" required>
            </div>
            <div class="field">
                <input type="text" name="lastname" placeholder="Last Name" required>

            </div>
            <div class="field">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="field">
                <input type="text" name="email" placeholder="Email" required>
            </div>
            <div class="field">
                <input type="text" name="password" placeholder="Password" required>
            </div>
        
                <button class="btn">Signup</button>
            


        </form>
        <p>Or</p>

        <a href="/login" class="btn btn-two">Log in</a>
    </section>


</body>

</html>